@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin text-dec-none {
  text-decoration: none;
}


@mixin text($f-size:28px, $f-weight:400, $l-height:40px,$l-spacing:0.2px) {
  font-size: $f-size;
  font-weight: $f-weight;
  line-height: $l-height;
  letter-spacing: $l-spacing;
}

@mixin breakpoint-down($size) {
  @media only screen and (max-width:$size) {
    @content;
  }
}

@mixin social-list {
  @include list-unstyled();
  display: flex;
}

@mixin social-item {
  margin-right: 24px;
}

@mixin btn {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20px;
  background-color: $btn-color;
  color: #fff;
  border-radius: 35px;
  border: 1px solid $btn-color;
  background-color: $btn-color;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: transparent;
    color: $btn-color;
  }
}


